 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/magellan";



 // Custom Styles
body {

  font-family: 'Advent Pro', sans-serif;
//  color: #333;
  width: 98%;
  margin: 0 auto;
}


 #header {
   width: 100%;
   margin: 0 auto;
   height: 750px;
   background: hsla(0,0%,22%,0.4);
   color: white;
   background-image: url(http://f.cl.ly/items/3z3Z141K0y2f1p1l2726/mikes%20header%20ful.png);
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center center;



     .headlogo {
       width: 48%;
       margin-left: 3%;
       margin-top: -1px;



     }
}
   .sub-nav {
     float: right;
     display: block;
     margin-right: 3%;
     margin-top: -50px;

     a {
       color: white;
       text-decoration: none;
       margin-left: 15px;
       font-size: 1.4em;
       font-weight: 700;
       &:hover {
         color: hsla(349,100%,46%,1);
       }
   }
     .GHLOGO {
       width: 35px;
       margin-left: 10px;
     }

     .LINKLOGO {
       width: 49px;
       margin-top: -4px;
       margin-left: -14px;
     }

     .MAILLOGO {
       width: 46px;
       margin-left: -17px;
     }


 }





#content {
  width: 100%;

  .aboutback {
    height: 100%;
    background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
    margin-top: -88px;

  }

  .about {

    width: 75%;
    text-align: center;
    margin-left: 12%;


    h3{
      font-size: 2.2em;
      padding-top: 80px;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 100px;
    }
  }

  .works {
    background-image: url(http://st.depositphotos.com/1655166/1945/i/950/depositphotos_19457149-Textile-background.Old-rustic-homespun-cloth-as-background.jpg);
    margin-top: -41px;

    h3 {
      font-size: 2.2em;
      text-align: center;
      padding-top: 45px;


    }

    .proj {
      background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
      margin: 0 auto;
      width: 80%;
      height: 500px;
      border: solid 1px;
      border-radius: 5px;
      box-shadow: 3.5px 2px 2px 2px hsla(0,0%,22%,0.5);
    }

    h1 {
      text-align: center;
      font-size: 2.2em;
    }

    img {
      margin-left: 20px;
      display: inline;
      border: solid 1px;
      box-shadow: 3.5px 2px 2px 2px hsla(0,0%,22%,0.5);
      height: 55%;
      width: 34%;
    }

    p {
      float: right;
      width: 500px;
      margin-top: -10px;
      margin-right: 42px;
      font-size: 1.2em;
    }
    a {
      clear: both;
      float:right;
      margin-right: 30px;
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      font-weight: 700;
      &:hover {
        color: hsla(349,100%,46%,1);
      }
    }



  }

  .tools {
    text-align: center;
    background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
    margin-top: -43px;

    h3 {
      font-size: 2.2em;
      text-align: center;
      padding-top: 45px;
    }
    p {
      font-size: 1.2em;
      padding-bottom: 100px;
    }

    a{
      font-weight: 700;
      font-size: 1.2em;
      color: darkred;
    }
  }


    .contact {
      text-align: center;
      background-image: url(http://f.cl.ly/items/19050C230r3U2P3r3M3r/newbarrel.png);
      margin-top: -84px;
      height: 350px;

        h3 {
          font-size: 2.2em;
          text-align: center;
          padding-top: 45px;

        }
        li {
          font-size: 1.2em;
          font-weight: 700;
          list-style-type: none;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color:hsla(349,100%,46%,1);
          }
        }
        }
      }


  }




 [data-magellan-expedition-clone] {
   display: none;

 }


 // All Media Queries

 @media screen and (max-width: 1200px) {

   .GHLOGO, .MAILLOGO, .LINKLOGO {
     visibility: hidden;
   }

   .sub-nav {
     margin-left: 63%;
     margin-top: -43px;


   }

   .fixed {
     height: 80px;
   }
 }


 @media screen and (max-width: 1132px) {

   #header{
     background-image: url(http://f.cl.ly/items/3w1c1T2332312S1h0v2b/mikes%20header%201132break.png);
   }


   #content .works p {
     width: 370px;
   }
 }

 @media screen and (max-width: 1000px) {


   #header {
     background-image: url(http://f.cl.ly/items/2r2X1G2E0w0o1n2g3f2p/mikes%20header%201000%20break.png);
   }
 }



 @media screen and (max-width: 900px) {

   #header .headlogo{
     width: 90%;
   }

   .sub-nav{
      visibility: hidden;
   }


   #content .aboutback {
     background-color: hsla(206,3%,56%,0.4);
     background-image: none;
   }


   #content .works{

     background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
   }

   #content .works h1 {
     clear: both;
   }

   #content .works img{
    margin-left: 20%;
     width: 60%;
     margin-bottom: -217px;
   }

   #content .works a{
     margin-bottom: 35px;
     text-align: center;
   }

   #content .works p{
     visibility: hidden;

   }

   #content .works .proj{
     background-image: none;
     box-shadow: none;
     border: none;
   }
 }

 @media screen and (max-width: 600px) {
   #header .headlogo {
     width: 90%;
   }

   #header {
     background-image: url(http://f.cl.ly/items/3D090c3L3F1J2S2M051q/mikes%20header%20600%20break.png);
   }



 }


 @media screen and (max-width: 440px) {
   #header {

   }
 }
