 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
}
 #header {
   width: 97%;
   margin: 0 auto;

   .tophead{
    height: 500px;

     h1 {
      font-size: 45px;
       margin-left: 4%;
       display: inline;
       margin-bottom: 0;
     }
     h3 {
       font-size: 21px;
       margin-left: 6%;
       margin-top: -1px;
       display: inline;

     }
}
   .sub-nav {
     float: right;
     display: block;

   }
 }

#content {
  width: 97%;
  margin: 0 auto;

  .works {


    .proj {
      margin: 0 auto;
      width: 90%;
      height: 500px;
      border: solid;
      border-radius: 5px;
      padding-top: 100px;

    }

  }
}
