 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/magellan";


 // Custom Styles
body {

  font-family: 'Advent Pro', sans-serif;
//  color: #333;
  width: 100%;
}
 #header {
   width: 100%;
   margin: 0 auto;
   height: 800px;
   background: hsla(0,0%,22%,0.4);
   color: white;
   background-image: url(http://f.cl.ly/items/2L0X1r2T2C0m1G143X2h/mikes%20header.png);


     h1 {
      font-size: 45px;
       margin-left: 4%;
       display: inline;
       margin-bottom: 0;
     }
     h3 {
       font-size: 21px;
       margin-left: 6%;
       margin-top: -1px;
       display: inline;

     }
}
   .sub-nav {
     float: right;
     display: block;
     margin-right: 30px;
     margin-top: -50px;

     a {
       color: white;
       text-decoration: none;
       margin-left: 15px;
       font-size: 28px;
       &:hover {
         color: hsla(360,100%,40%,1);
       }
   }
     img {
       width: 35px;
       margin-left: -5px;
       }


 }





#content {
  width: 97%;
  margin: 0 auto;


  .about {
    width: 75%;
    text-align: center;
    margin-left: 12%;
  }

  .works {


    .proj {
      margin: 0 auto;
      width: 90%;
      height: 500px;
      border: solid;
      border-radius: 5px;
      padding-top: 100px;

    }

  }
}

 [data-magellan-expedition-clone] {
   display: none;
 }


