 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/magellan";


 // Custom Styles
body {

  font-family: 'Advent Pro', sans-serif;
//  color: #333;
  width: 100%;
}
 #header {
   width: 100%;
   margin: 0 auto;
   height: 800px;
   background: hsla(0,0%,22%,0.4);
   color: white;
   background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/31349/1239511/CDsYIPe9JAD3OHA/mikes%20header1400.png);
   background-repeat:no-repeat;
   background-size:cover;
   background-position: center center;


     .headlogo {
       width: 48%;
       margin-left: 14px;
       margin-top: -1px;



     }
}
   .sub-nav {
     float: right;
     display: block;
     margin-right: 30px;
     margin-top: -50px;

     a {
       color: white;
       text-decoration: none;
       margin-left: 15px;
       font-size: 28px;
       font-weight: 700;
       &:hover {
         color: hsla(349,100%,46%,1);
       }
   }
     .GHLOGO {
       width: 35px;
       margin-left: 10px;
     }

     .LINKLOGO {
       width: 49px;
       margin-top: -4px;
       margin-left: -14px;
     }

     .MAILLOGO {
       width: 46px;
       margin-left: -17px;
     }


 }





#content {
  width: 100%;

  .aboutback {
    height: 100%;
    background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
    margin-top: -88px;

  }

  .about {

    width: 75%;
    text-align: center;
    margin-left: 12%;


    h3{
      font-size: 40px;
      padding-top: 80px;
    }

    p {
      font-size: 20px;
      padding-bottom: 100px;
    }
  }

  .works {
    background-image: url(http://st.depositphotos.com/1655166/1945/i/950/depositphotos_19457149-Textile-background.Old-rustic-homespun-cloth-as-background.jpg);
    margin-top: -41px;

    h3 {
      font-size: 40px;
      text-align: center;
      padding-top: 45px;


    }

    .proj {
      background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
      margin: 0 auto;
      width: 80%;
      height: 475px;
      border: solid 1px;
      border-radius: 5px;
      box-shadow: 3.5px 2px 2px 2px hsla(0,0%,22%,0.5);
    }

    h1 {
      text-align: center;
      font-size: 40px;
    }

    img {
      margin-left: 20px;
      display: inline;
      border: solid 1px;
      box-shadow: 3.5px 2px 2px 2px hsla(0,0%,22%,0.5);;
    }

    p {
      float: right;
      width: 500px;
      margin-top: -10px;
      margin-right: 42px;
      font-size: 20px;
    }
    a {
      clear: both;
      float:right;
      margin-right: 30px;
      text-decoration: none;
      color: black;
      font-size: 24px;
      font-weight: 700;
      &:hover {
        color: hsla(349,100%,46%,1);
      }
    }



  }

  .tools {
    text-align: center;
    background-image: url(http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg);
    margin-top: -43px;

    h3 {
      font-size: 40px;
      text-align: center;
      padding-top: 45px;
    }
    p {
      font-size: 20px;
      padding-bottom: 100px;
    }

    a{
      font-weight: 700;
      font-size: 24px;
      color: darkred;
    }
  }


    .contact {
      text-align: center;
      background-image: url(http://f.cl.ly/items/19050C230r3U2P3r3M3r/newbarrel.png);
      margin-top: -84px;
      height: 350px;

        h3 {
          font-size: 40px;
          text-align: center;
          padding-top: 45px;

        }
        li {
          font-size: 25px;
          font-weight: 700;
          list-style-type: none;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color:hsla(349,100%,46%,1);
          }
        }
        }
      }


  }




 [data-magellan-expedition-clone] {
   display: none;

 }


